/* COLORS */
/* 
    background: rgba(73, 90, 70, 0.50);
    menu: #375c37 ;
*/

/* --- GLOBAL STYLES --- */
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-color: rgba(73, 90, 70, 0.50);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.medievalsharp-regular {
    font-family: "MedievalSharp", cursive;
    font-weight: 400;
    font-style: normal;
}



/* --- HEADER STYLES --- */
.header {
    display:flex;
    flex-direction: column;
}

.logoHolder {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding:20px;
}

.logoHolder p {
    font-size:0.5rem;
}

.advertisement {
    font-family:medievalsharp;
    font-size: 1.5rem;
    align-self: center;
}

.banner img {
    width:100vw;
    height:40vh;
}

/* --- MENU STYLES --- */
.nav {
    background-color: #375c37;
    height:50px;
}

.nav a {
    font-size:1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: rgb(165, 180, 162);
    padding:10px;
}

.nav a:hover {
    background-color: #173417;
    padding:10px;
}

.nav li {
    list-style: none;
}

.menu {
    height:50px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}

.dropdownMenu {
    display:none;
    position:absolute;
    background-color: #375c37;
    line-height: 50px;
    margin-top:10px;
}

.dropdownMenu a:hover {
    background-color: #173417;
    padding:8px 10px 12px 10px;
}

.dropdown:hover .dropdownMenu {
    display:block;
}

/* --- FOOTER STYLES --- */
.footer {
    background-color: #375c37;
    padding:10px 0;
}

.footer h1 {
    font-size: 1.3rem;
}

.footerBox {
    display:flex;
    flex:1;
    padding:20px;
/*     gap:40px; */
text-align: center;
}

.footerBoxLeft {
    display:flex;
    flex:1;
    flex-direction: column;
    border-right:#173417 solid 2px;
    padding-right:15px;
    line-height: 1.8rem;
}

.footerBoxMiddle {
    display:flex;
    flex-direction: column;
    flex:1;
    margin:0 15px;
    line-height: 1.8rem;
}

.footerBoxRight {
    display:flex;
    flex-direction: column;
    flex:1;
    border-left:#173417 solid 2px;
    padding-left:15px;
}

.footerBoxRight li,a {
    list-style: none;
    color:black;
    font-size:1rem;
    line-height: 1.8rem;
}

.footerBoxRight a:hover {
    color:#173417;
}

.footer > p {
    color:#173417;
    text-align:center;
    padding:10px;
}

/* --- INDEX STYLES --- */
.indexWrapper {
    width:70%;
    margin:auto;
}

.indexWrapper h1 {
    text-align: center;
    margin:20px 0;
}

.infoWrapper {
    margin:30px 0;
    border:1px solid red;
    display:flex;
    gap:50px;
}

.indexNews {
    border:1px solid blue;
    display:flex;
    flex-direction: column;
    flex:2;
}

.indexEvents {
    border:1px solid green;
    display:flex;
    flex-direction: column;
    flex:1;
}