
/* GLOBAL STYLES */
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-color: rgba(73, 90, 70, 0.50);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    display:flex;
}