<div class="footer">
    <div class="footerBox">
        <div class="footerBoxLeft">
            <h1>Contact</h1>
            <p>
                <strong>Lackton Borough</strong><br>
                Terrelow Route 17 <br>
            </p>
        </div>
        <div class="footerBoxMiddle">
            <h1>Business Hours</h1>
            <p>
                Mon - Fri : Sunrise till Dawn <br>
                Sat - Sun : Closed
            </p>
        </div>
        <div class="footerBoxRight">
            <h1>Situations</h1>
            <ul>
                <li><a href="">I want to live here.</a></li>
                <li><a href="">I am sick.</a></li>
                <li><a href="">I want a bigger house!</a></li>
                <li><a href="">Where is the old Chieftain?</a></li>
            </ul>
        </div>
    </div>
    <p>Copyright by Yoshi Nagato 2025</p>
</div>