<!DOCTYPE html>
<header class="header">
        <div class="logoHolder">
            <a href="index.html"> <img src="images/logo.png" alt="Logo Banner" width="150px"></a>
            <div class="advertisement">
                <h1>The best Goblin Village*</h1>
                <p>*south of Krekna</p>
            </div>
        </div>
        <nav class="menu">
            <ul>
                <li><a href="news.html">News</a></li>
                <li><a href="events.html">Events</a></li>
                <li class="dropdown"><a href="info.html">Info</a>
                    <ul>
                        <div class="dropdownMenu">
                            <li><a href="visitors.html">For Visitors</a></li>
                            <li><a href="#">The Chieftain</a></li>
                            <li><a href="#">Important Visitors</a></li>
                        </div>
                    </ul>
                </li>
            </ul>
        </nav>
    <div class="banner">
        <img src="images/mountains.png" alt="Mountains"> 
    </div>
</header>
</html>