<!DOCTYPE html>
<header class="header">
        <div class="logoHolder">
            <a href="index.html"> <img src="images/logo.png" alt="Logo Banner" width="150px"></a>
            <div class="advertisement">
                <h1>The best Goblin Village*</h1>
                <p>*south of Krekna</p>
            </div>
        </div>
        <nav class="nav">
            <ul class="menu">
                <li><a href="news.html">News</a></li>
                <li><a href="events.html">Events</a></li>
                <li class="dropdown"><a href="#">Info</a>
                    <ul class="dropdownMenu">
                            <li><a href="/visitors.html">For Visitors</a></li>
                            <li><a href="/chieftain.html">The Chieftains</a></li>
                            <li><a href="#">Important Visitors</a></li>
                    </ul
                </li>
            </ul>
        </nav>
    <div class="banner">
        <img src="images/forest.jpg" alt="Forest"> 
    </div>
</header>
</html>