<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
    <header>
        <div class="wrapUp">
            <div class="symbol">
                <a href="index.html"> <img src="images/icon.png" alt="castle" width="100px"></a>
                <h1>Lackton Borough</h1>
            </div>
            <nav class="menu">
                <ul>
                    <li><a href="news.html">News</a></li>
                    <li><a href="events.html">Events</a></li>
                    <li><a href="info.html">Info</a>
                        <ul>
                            <li>For Visitors</li>
                            <li>The Chieftain</li>
                            <li>Important Visitors</li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="banner">
            <img src="images/mountains.png" alt="Mountains"> <!-- TODO: resize Image -->
        </div>
    </header>
    <main>

    </main>
    <footer>

    </footer>
</body>
</html>